<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!-- sql db 
    <add name="connection" connectionString="Data Source=192.168.1.199\SQLEXPRESS;Initial Catalog=PharmaPrimer;User Id=sa;Password=test;timeout=99999; Trusted_Connection=False;Pooling=False;" providerName="System.Data.SQLClient"/>
    -->
    <!-- access db-->
    <add name="connection" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=Z:\ASP.NET WEBSITE\EVO101-TFS\WebFormAuthenticationWithRoleProvider\WebApplication\App_Data\crud-db.mdb;Persist Security Info=True" providerName="System.Data.OleDb" />
  </connectionStrings>
  <system.web>
    <authentication mode="Forms">       
      <forms name="08b21521f2ab816cc0532b9664282bb49cf5701363e33737941617552d88cc9188" loginUrl="~/login" protection="All" timeout="60" />
    </authentication>
    <roleManager enabled="true" defaultProvider="MyProvider">
      <providers>
        <clear />
        <add name="MyProvider" type="WebApplication.RoleManager.UsersRole" />
      </providers>
    </roleManager>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
