<?xml version="1.0"?>
<configuration>
  <system.web>
    <authorization>
      <allow roles="Doctor"/>
      <deny users="*"/>
    </authorization>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>    
      <remove name="ScriptResource"/>
        <add name="fileProtected" path="*" verb="*" type="Evolantis.Web.FileProtection" resourceType="Unspecified" />
      </handlers>
  </system.webServer>
</configuration>
